.main-chat
  .main-chat__header
    .main-chat__header__left-box
      .main-chat__header__left-box__current-group
        = @group.name
      .main-chat__header__left-box__member-list
        Member:
        .main-chat__header__left-box__member-list__name
          = @group.users.pluck(:name).join(",")
    .main-chat__header__edit-btn
      = link_to edit_group_path(@group.id) do
        = "Edit"
  .messages
    = render @messages

  .main-chat__footer
    .main-chat__footer__input-box
      .main-chat__footer__form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: "input-box__image" do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'input-box__image__file'
          = f.submit 'Send', class: 'submit-btn'